.mensaje-error {
  background-color: rgb(185,0,0);
  text-align: center;
  color: var(--blanco);
  padding: 1rem;
  text-transform: uppercase;
}

.mensaje-correcto {
  background-color: rgb(74,185,0);
  text-align: center;
  color: var(--blanco);
  padding: 1rem;
}
