.dashboard {
  margin: 2rem 0;
  height: 100%;
}
@media (min-width: 480px) {
  .dashboard {
    margin: 2.8rem 1rem;
    height: 50rem;
  }
}
@media (min-width: 768px) {
  .dashboard {
    margin: 0 1rem;
    height: 49rem;
  }
}
