.inicio {
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;
  /* padding: 5rem; */
  /* margin-bottom: 13rem; */
}
.header {
  background-image: url(img/inventario_sesion.jpg);
  height: 55rem;
  padding-top: 1rem;
  margin-bottom: -2rem;
}
@media (min-width: 480px) {
    .header{
      height: 93rem;
      padding-top: 1rem;
      margin-bottom: -2rem;
    }
}
@media (min-width: 768px) {
    .header{
      height: 62.5rem;
      padding-top: 1rem;
      margin-bottom: -2rem;
    }
}
h1 {
  color: var(--blanco);
}

.contenido {
  width: 35rem;
  margin: 0 auto;
  justify-content: center;
}
@media (min-width: 480px) {
  .contenido {
    width: 40rem;
  }
}
@media (min-width: 768px) {
  .contenido {
    width: 30rem;
  }
}
.inicio-border {
  border-radius: 0.5rem;
  background-color: var(--crema);
}
.inicio--legend {
  font-weight: bold;
  display: block;
}
.inicio-b {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}
